<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/styles/album.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Albums</title>
</head>
<body>
	<h1>Top Albums (US)!</h1>
	<% for(var i=0;i< pass.items.length;i++) { %>
		<p><%= pass.items[i].name %></p>
		<a href='<%= pass.items[i].uri %>'><img src='<%= pass.items[i].images[1].url%>'></a>
	<% } %>
	<br><a href='/music/index'>Index</a>

</body>
</html>