<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel='stylesheet' type='text/css' href='/styles/index.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Music Starz Info</h1><br>
	<% for(var i=0;i<music.length;i++) { %>
		<div id='artist'><h3><strong><%= music[i].name %></strong></h3></a></div>
		<div id='content'><h4><a href='/music/index/<%= music[i].spotify_id %>'>Top Albums</a></h4>
		<h4><a href='/music/index/<%= music[i].spotify_id %>/songs'>Top 10 List!</a></h4><br></div>
	<% } %><br>
	<a href='/music/index/play'>Your Resources</a>
	<a href='/music/index/search'>Search</a>
</body>
</html>