<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>New Artist</h1>
	<form action="/music/index" method="POST">
		<input type="text" name="name" placeholder="Artist">
		<br>
		<input type="text" name="spotify_id" placeholder="Spotify Id">
		<br>
		<input type="text" name="songs" placeholder="Songs (use comma)">
		<br>
		<input type="text" name="song_url" placeholder="Song URL!">
		<br>
		<button id='submit'>Submit</button>
	</form>
</body>
</html>