<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/styles/new.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>New Artist</h1>
	<form action="/music/index/" method="POST">
		<input type="text" name="name" placeholder="Artist">
		<br>
		<input type="text" name="spotify_id" placeholder="Spotify ID">
		<br>
		<input type="text" name="songs" placeholder="Song">
		<br>
		<input type="text" name="song_url" placeholder="Song URL!">
		<br>
		<button id='submit'>Submit</button>
	</form>
</body>
</html>