<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/styles/play.css'>
	<title>Play</title>
</head>
<body>
	<h1>Play Page</h1><br>
	<% for(var i=0;i<music.length;i++) { %>
		<div id='artist'><h2><a href = '/music/index/play/<%= music[i].id %>'<strong><%= music[i].name %></strong></a></h2></div>
			<% for(var j=0;j<music.length;j++) { %>
			<div id='song_url'><a href='<%= music[i].song_url[j]%>'><%= music[i].songs[j] %></a></div>
			<% } %>
			<br><hr>
	<% } %>
	<div id='links'>
		<a href='/music/index/new'>New Artist/Songs!</a><br>
		<a href='/music/index'>Index</a>
	</div>
</body>
</html>