<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/styles/songs.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search</title>
</head>
<body>	
	<h1>Search Results (Top 20 Results)</h1>
	<% for (i = 0; i < thing.tracks.items.length; i++) { %>
		<% for (j = 0; j < thing.tracks.items[i].artists.length; j++) { %>
			<p><%= thing.tracks.items[i].artists[j].name %></p>
			<p><a href='<%= thing.tracks.items[i].uri %>'><%= thing.tracks.items[i].name %></a></p>
	<% } %>
<% } %>
	<hr>
	<a href='/music/index'>Index</a>
</body>
</html>