<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/styles/songs.css'>
	<title>Albums</title>
</head>
<body>

<h2><%= thing.tracks.items[1].artists[1].name %></h2>
<h2><%= thing.tracks.items[1].artists[0].name %></h1>
<h3><%= thing.tracks.items[1].name %></h3>
<h3><%= thing.tracks.items[1].uri %></h3>

	<hr>
	<a href='/music/index'>Index</a>
</body>
</html>