<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/styles/new.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Search</h1>
	<form action="/music/index/search" method="POST">
		<input type="text" name="search" placeholder="search">
		<br>
		<button id='search'>Search!</button>
	</form>
</body>
</html>