<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/styles/show.css'>
	<title>Albums</title>
</head>
<body>
	<h1>Albums!</h1>
	<% for(var i=0;i< ass.items.length;i++) { %>
		<p><%= ass.items[i].name %></p>
	<% } %>
	<a href='/music/index'>Index</a>


</body>
</html>