<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/styles/songs.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Albums</title>
</head>
<body>
	<h1>Top 10 Songs by <%= body.tracks[0].artists[0].name %>!</h1>
	<% for(var i=0;i< body.tracks.length;i++) { %>
		<p><a href='<%= body.tracks[i].uri %>'><%= body.tracks[i].name %></a></p>
	<% } %>
	<hr>
	<a href='/music/index'>Index</a>
</body>
</html>