<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/styles/show.css'>
	<title>Albums</title>
</head>
<body>
	<h1>Top 10 Songs by <%= body.tracks[0].artists[0].name %>!</h1>
	<% for(var i=0;i< body.tracks.length;i++) { %>
		<p><%= body.tracks[i].name %></a></p>
	<% } %>
	<a href='/music/index'>Index</a>
</body>
</html>