html{
	text-align: center;
}

body{
	font-family: "Calibri";
	background-color: rgba(0,0,0, 0.1);
	color: black;
	align-content: center;
	display: fixed;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

img{
	margin-top: 10px;
	border: 2px solid black;
	height: 300px;
	width: 300px;
	transition-duration: 1s;
}

img:hover {
 	width: 350px;
  	height: 350px;
}

